{namespace testTemplates}

/**
* Test Template
* @param test
*/
{template .test}
<div>{$test}</div>
{/template}

/**
* Test template2
*/
{template .test2}
    {call Templates.greetingTemplates.hello }
        {param name: 'World' /}
    {/call}
{/template}